name: Build Changes EXE
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64
    
    - name: Create output dir
      shell: cmd
      run: mkdir dist
    
    - name: Compile FUD EXE
      shell: cmd
      run: |
        cl /O2 /MT /DNDEBUG /GS- /Gy /GL /favor:blend ^
        /Fe:dist/Changes.exe Changes.cpp ^
        /link kernel32.lib user32.lib shell32.lib ole32.lib winhttp.lib ^
        /LTCG /SUBSYSTEM:WINDOWS /ENTRY:wWinMainCRTStartup ^
        /OPT:REF /OPT:ICF /RELEASE /INCREMENTAL:NO /NODEFAULTLIB:msvcrt.lib
        
    - name: Show file info
      shell: cmd
      run: dir dist\Changes.exe
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Changes.exe
        path: dist/Changes.exe
        
    - name: Create Release
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        files: dist/Changes.exe
        tag_name: v${{ github.run_number }}
        name: Changes v${{ github.run_number }}
