name: Build
on: [push]

jobs:
  compile:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
    - run: cl Changes.cpp /FeChanges.exe /O2 /MT winhttp.lib user32.lib shell32.lib ole32.lib gdi32.lib
    - uses: actions/upload-artifact@v4
      with:
        name: Changes.exe
        path: Changes.exe
